---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

let project_name: string;
let project_description: string;
let see_visualizations: string;
let github_repo: string;
let visualizations_link: string;

switch (locale) {
  case "zh":
    project_name = "音乐可视化项目";
    project_description = "自古以来，许多著名的音乐家发展了各种音乐理论，其中许多理论以视觉形式表现，如Tonnetz和五度圈。该项目旨在通过直观的用户界面将这些可视化效果呈现出来。";
    see_visualizations = "查看可视化";
    github_repo = "GitHub 仓库";
    visualizations_link = "/music-visualizations/zh/visualizations/";
    break;
  case "ja":
    project_name = "音楽可視化プロジェクト";
    project_description = "音楽の歴史の中で、多くの有名な音楽家が様々な音楽理論を発展させてきました。その中でも、トンネットや五度圏といった理論が視覚的に表現されています。このプロジェクトでは、これらの視覚化を直感的で使いやすいインターフェースで実現します。";
    see_visualizations = "可視化を見る";
    github_repo = "GitHub リポジトリ";
    visualizations_link = "/music-visualizations/ja/visualizations/";
    break;
  case "de":
    project_name = "Musik-Visualisierungsprojekt";
    project_description = "Von der Musikgeschichte her haben viele berühmte Musiker verschiedene Musiktheorien entwickelt, von denen viele in visueller Form dargestellt wurden, wie Tonnetz und Kreis der fünften. Dieses Projekt zielt darauf ab, diese Visualisierungen mit einer intuitiven und benutzerfreundlichen Oberfläche zu machen.";
    see_visualizations = "Visualisierungen ansehen";
    github_repo = "GitHub-Repository";
    visualizations_link = "/music-visualizations/de/visualizations/";
    break;
  case "fr":
    project_name = "Projet de Visualisation Musicale";
    project_description = "Depuis la musique, de nombreux musiciens célèbres ont développé diverses théories musicales, dont de nombreuses théories ont été représentées sous forme visuelle, comme le Tonnetz et le cercle des cinquièmes. Ce projet vise à rendre ces visualisations accessibles avec une interface intuitive et conviviale.";
    see_visualizations = "Voir les visualisations";
    github_repo = "Dépôt GitHub";
    visualizations_link = "/music-visualizations/fr/visualizations/";
    break;
  case "ru":
    project_name = "Проект визуализации музыки";
    project_description = "На протяжении истории многие известные музыканты разработали различные музыкальные теории, многие из которых были представлены в визуальной форме, такие как Tonnetz и квинтовый круг. Этот проект направлен на то, чтобы оживить эти визуализации с помощью интуитивно понятного и удобного интерфейса.";
    see_visualizations = "Смотреть визуализации";
    github_repo = "GitHub репозиторий";
    visualizations_link = "/music-visualizations/ru/visualizations/";
    break;
  default:
    project_name = "Music Visualizations Project";
    project_description = "Throughout history, numerous renowned musicians have developed a variety of music theories, many of which have been represented in visual forms, such as the Tonnetz and the circle of fifths. This project aims to bring these visualizations to life with an intuitive and user-friendly interface.";
    see_visualizations = "See Visualizations";
    github_repo = "GitHub Repository";
    visualizations_link = "/music-visualizations/visualizations/";
    break;
}
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      {project_name}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {project_description}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href={visualizations_link}
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-music" />

         {see_visualizations}
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/XavierYuhanLiu/music-visualizations"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         {github_repo}
      </Link>
    </div>
  </div>
</main>
